@import "../../node_modules/fontawesome-scss/fontAwesome";

@mixin font($fontSize,$fontFamily,$color) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

header {
  background-color: #3498db;
  padding: 15px 0;

  .row {
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    .menu_item {
      position: absolute;
      display: none;
      padding: 10px;
      top: 25px;
      background-color: #f5f6f8;
      width: 150px;
      border-radius: 5px;
      border: 1px solid lightgray;
      text-align: center;
      z-index: 111;
      div {
        border-bottom: 1px solid #c9d6df;
      }
      span {
        padding: 5px 0;
        line-height: 2;
        @include font(16px, latoregular, #2775a9);
        &:hover {
          cursor: pointer;
          @include font(16px, latoregular, black);
        }
      }
    }
    .line_1, .line_3 {
      width: 30px;
      height: 3px;
      background-color: white;
      border-radius: 5px;
      margin: 3px 0;
    }
    .line_2 {
      width: 25px;
      height: 3px;
      background-color: white;
      border-radius: 5px;
      margin: 3px 0;
    }
    span {
      display: inline-block;
    }
  }
  .rightSide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 235px;
    .input {
      display: flex;
      align-items: center;

      .search {
        @include fa($fa-search, white, 24px);
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
        .input-field {
          display: flex;
          align-items: center;

          input {
            outline: 0;
            opacity: 0;
            width: 0;
            height: 30px;
            border-radius: 5px;
            border: none;
            transition: 1s;
            position: absolute;
            right: 0;
            @include font(14px, latoregular, gray);
          }
        }
      }
    }

    .user-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        width: 150%;
      }
    }
    .user-info {
      .user-name {
        span {
          @include font(15px, latobold, white);
        }
      }
      .user-status {
        position: absolute;
        display: flex;
        margin-top: 5px;
        width: 115px;
        justify-content: space-between;
        cursor: pointer;

        a {
          @include font(12px, latoregular, #2775a9);
          text-decoration: none;
          display: block;

        }
        ul {
          li {
            display: none;
            &:hover {
              a {
                color: black;
              }
            }
          }
          li:not(:first-child) {
            margin-top: 15px;
          }
          li:first-child {
            display: block;
          }

        }

        .caret {
          @include fa($fa-angle-down, #2775a9, 16px);

        }
      }
    }
  }
}



